{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    تغییر کلمه عبور
{% endblock %}
{% block content %}
    <section class="breadcrumb_part blog_grid_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <div class="breadcrumb_iner">
                        <h2>پروفایل کاربری</h2>
                        <div class="breadcrumb_iner_link">
                            <a href="{% url 'home-page' %}">خانه</a>
                            <i class="arrow_carrot-left"></i>
                            <span>پروفایل کاربری</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end -->

    <!-- my profile part here -->
    <div id="primary" class="content-area section_padding" bis_skin_checked="1">
        <main id="main" class="site-main">
            <div class="container" bis_skin_checked="1">
                <article id="post-47" class="post-47 page type-page status-publish hentry">
                    <div class="entry-content" bis_skin_checked="1">
                        <div class="learnpress" bis_skin_checked="1">
                            <div id="learn-press-profile" class="lp-user-profile current-user" bis_skin_checked="1">
                                <div class="main-content-area" bis_skin_checked="1">
                                    {% render_partial 'user_panel.views.user_panel_menu_component' %}
                                    <!-- edit profile fields -->
                                    <article id="profile-content" class="lp-profile-content">
{#                                        <h3 data-aos="fade-up" data-aos-duration="1200" class="aos-init aos-animate">#}
{#                                            اطلاعات کاربری</h3>#}
                                        <div class="review_form contact_form section_padding">
                                            <div class="container">

                                                <form data-aos="fade-up" data-aos-duration="1600" method="post"
                                                      action="{% url 'change-password-page' %}"
                                                      class="aos-init aos-animate">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-lg-4 ">
                                                            <div class="form_single_item">

                                                                {{ form.current_password.label_tag }}
                                                                {{ form.current_password }}
                                                                <div class="text-danger">{{ form.current_password.errors }}</div>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form_single_item">
                                                                {{ form.password.label_tag }}
                                                                {{ form.password }}
                                                                <div class="text-danger">{{ form.password.errors }}</div>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form_single_item">
                                                                {{ form.confirm_password.label_tag }}
                                                                {{ form.confirm_password }}
                                                                <div class="text-danger">{{ form.confirm_password.errors }}</div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <input type="submit" class="btn_3" value="ذخیره">
                                                </form>
                                            </div>
                                        </div>
                                    </article>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- .entry-content -->
                </article>
            </div>
        </main>
        <!-- #main -->
    </div>
{% endblock %}