{% extends 'shared/_Layout.html' %}
{% load thumbnail %}
{% block title %}
    صفحه ی اصلی
{% endblock %}

{% block content %}
    <!-- slider part here -->
    <section class="banner_part owl-carousel" style="direction: ltr!important;">
        <div class="single_banner_part bg_1">
            <div class="container">
                <div class="row justify-content-center align-items-center">

                    <div class="col-lg-8">
                        <div class="banner_iner">
                            <h5>به دانشگاه ما خوش آمدید</h5>
                            <h2>آموزش بهترین موفقیت کلیدی در زندگی است</h2>
                            <a href="{% url 'course-list' %}" class="btn_2">دوره های ما</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_banner_part bg_2">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8">
                        <div class="banner_iner">
                            <h5>به آموزش آنلاین خوش آمدید</h5>
                            <h2>آموزش و پرورش ستون اصلی یک دولت است</h2>
                            <a href="{% url 'course-list' %}" class="btn_2">دوره های ما</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- slider part end -->

{#    <!-- course details part here -->#}
{#    <section class="course_details padding_bottom">#}
{#        <div class="container">#}
{#            <div class="row justify-content-between align-items-center">#}
{#                <div class="col-xl-7 col-md-7">#}
{#                    <div class="course_details_iner">#}
{#                        <div class="single_course_list" data-aos="fade-up" data-aos-duration="1200">#}
{#                            <img src="/static/img/icon/course_1.svg" alt="">#}
{#                            <h4>برنامه ریزی شده</h4>#}
{#                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>#}
{#                        </div>#}
{#                        <div class="single_course_list" data-aos="fade-up" data-aos-duration="1600">#}
{#                            <img src="/static/img/icon/course_2.svg" alt="">#}
{#                            <h4>دوره های آنلاین</h4>#}
{#                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>#}
{#                        </div>#}
{#                        <div class="single_course_list" data-aos="fade-up" data-aos-duration="2000">#}
{#                            <img src="/static/img/icon/course_3.svg" alt="">#}
{#                            <h4>فارغ التحصیلی</h4>#}
{#                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>#}
{#                        </div>#}
{#                        <div class="single_course_list" data-aos="fade-up" data-aos-duration="2400">#}
{#                            <img src="/static/img/icon/course_4.svg" alt="">#}
{#                            <h4>زندگی دانشگاهی</h4>#}
{#                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!-- course details part end -->#}

    <!-- about us part here -->
{#    345x448.5#}
    <section class="about_us section_padding">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-5 col-md-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="700">
                    <div class="about_us_img">
                        {% thumbnail settings.about_image "470x611" crop="center" as im %}
                                <img class="img-fluid" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
{#                        <img src="/static/img/about.png" alt="#" class="img-fluid">#}
{#                        <div class="about_tricker">#}
{#                            <div class="tricker_iner">#}
{#                                <p>مورد اعتماد</p>#}
{#                                <span class="timer" data-from="0" data-to="45"></span><span>k+ </span>#}
{#                            </div>#}
{#                        </div>#}

                    </div>
                </div>
                <div class="col-xl-6 col-md-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="700">
                    <div class="about_us_details">
                        <h2>ما موسسه آموزشی هنرهای تجسمی به صورت تخصصی و کامل هستیم</h2>
                        <p>{{ settings.about_us }}</p>
                        <a href="course-list.html" class="btn_1">مشاهده دوره ها</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="/static/img/icon/about_shape_01.png" alt="#" class="about_sharp_1">
        <img src="/static/img/icon/about_shape_02.png" alt="#" class="about_sharp_2 custom-animation2">
        <img src="/static/img/icon/about_shape_03.png" alt="#" class="about_sharp_3 custom-animation3">
    </section>
    <!-- about us part end -->


    <!-- Start LTR & RTL Button -->
    <!-- <div class="ltr-rtl-button">
        <a class="default-btn active rtl">
		    RTL
		</a>
        <a class="default-btn ltr">
		    LTR
		</a>
    </div> -->
    <!-- End LTR & RTL Button -->
{% endblock %}