
<div class="r1_iframe_embed">
    <iframe src="https://player.arvancloud.ir/index.html?config=https://arsad.arvanvod.ir/DKX4eLwqJ1/5wZm0k60pE/origin_config.json&skin=shaka"
            style="border:0 #ffffff none;" name="132_NewDjango_Ordookhani.mp4" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen="true"
            webkitallowfullscreen="true" mozallowfullscreen="true" id="myVideoPlayer"
            loading="lazy"></iframe>
</div>

