{% extends 'shared/_Layout.html' %}

{% block title %}
    {{ course.title }}
{% endblock %}
{% block content %}
    <div class="lp-archive-courses" bis_skin_checked="1">
        <ul class="learn-press-breadcrumb">
            <li><a href="{% url 'home-page' %}" bis_skin_checked="1"><span>خانه</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-left" aria-hidden="true"></i></li>
            <li><a href="{% url 'course-list' %}" bis_skin_checked="1"><span>همه دوره ها</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-left" aria-hidden="true"></i></li>
            <li><span>{{ course.title }}</span></li>
        </ul>
        <div id="learn-press-course" class="course-summary" bis_skin_checked="1">
            <div class="course-content course-summary-content" bis_skin_checked="1">
                <div class="course-detail-info" bis_skin_checked="1">
                    <div class="lp-content-area" bis_skin_checked="1">
                        <div class="course-info-left" bis_skin_checked="1">
                            <div class="course-meta course-meta-primary" bis_skin_checked="1">
                                <div class="course-meta__pull-left" bis_skin_checked="1">
                                    <div class="meta-item meta-item-instructor" bis_skin_checked="1">
                                        <div class="meta-item__image" bis_skin_checked="1">
                                            <img alt="teacher Avatar" src="{{ course.teacher.image.url }}"
                                                 srcset="{{ course.teacher.image.url }}" class="avatar avatar-96 photo"
                                                 height="250" width="250" loading="lazy">
                                        </div>
                                        <div class="meta-item__value" bis_skin_checked="1">
                                            <label>استاد</label>
                                            <div bis_skin_checked="1">
                                                <a href="my-profile.html"
                                                   bis_skin_checked="1"><span>{{ course.teacher }}</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meta-item meta-item-categories" bis_skin_checked="1">
                                        <div class="meta-item__value" bis_skin_checked="1">
                                            <label>دسته بندی</label>
                                            <div bis_skin_checked="1">
                                                <a href="course-category.html" rel="tag"
                                                   bis_skin_checked="1">{{ course.category }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="course-title">{{ course.title }}</h1>
                            <div class="course-meta course-meta-secondary" bis_skin_checked="1">
                                <div class="course-meta__pull-left" bis_skin_checked="1">
                                    <div class="meta-item meta-item-duration" bis_skin_checked="1">{{ course.duration }}
                                        ساعت
                                    </div>
                                    <div class="meta-item meta-item-level" bis_skin_checked="1">{{ course.level }}</div>
                                    <div class="meta-item meta-item-lesson" bis_skin_checked="1"><span
                                            class="meta-number">{{ course.video_count }} ویدیو</span></div>

                                    <div class="meta-item meta-item-student" bis_skin_checked="1"><span
                                            class="meta-number">{{ course.students }} دانش آموز</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lp-entry-content lp-content-area" bis_skin_checked="1">
                    <div class="entry-content-left" bis_skin_checked="1">
                        {% for headline in course_headlines %}
                            <div class="section-left" bis_skin_checked="1">
                                <br>
                                <h5 class="section-title  ">{{ headline.headLine_title }}
                                    <p class="section-desc">
                                       {{ headline.description }}
                                    </p>
                                </h5>
                            </div>
                            {% if is_purchased %}
                                {% for video in headline.headline_videos.all %}
                                    <div class="course-extra-box" bis_skin_checked="1">
                                        <h3 class="course-extra-box__title">{{ video.title }}</h3>
                                        <div class="course-extra-box__content" bis_skin_checked="1">
                                            <div class="course-extra-box__content-inner"  bis_skin_checked="1">
                                                {% include 'course/course_video/video_player_component.html' with video=video %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="course-extra-box locked-course-extra-box" bis_skin_checked="1">
                                    {% for video in headline.headline_videos.all %}
                                        <h3 class="course-extra-box__title course_video_lock text-secondary">{{ video.title }}</h3>
                                    {% endfor %}
                                    </div>
                            {% endif %}
                        {% endfor %}

                    </div>

                    <aside class="course-summary-sidebar">
                        <div class="course-summary-sidebar__inner" bis_skin_checked="1">
                            <div class="course-sidebar-top" bis_skin_checked="1">
                                <div class="course-sidebar-preview" bis_skin_checked="1">
                                    <div class="media-preview" bis_skin_checked="1">
                                        <img width="370" height="280" src="{{ course.image.url }}"
                                             class="attachment-500x300 size-500x300 wp-post-image"
                                             alt="Software Development" loading="lazy" title="Software Development">
                                    </div>
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">{{ course.price }}هزارتومان</span>
                                    </div>
                                    {% if is_purchased %}
                                        <p class="text-success  ">خریداری شده ✔</p>
                                    {% else %}
                                        <div class="lp-course-buttons" bis_skin_checked="1">
                                            <a onclick="addCourseToOrder({{ course.id }})">
                                                <button class="lp-button button button-purchase-course">
                                                    ثبت نام در دوره
                                                </button>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="course-featured-review margin-bottom" bis_skin_checked="1">

                                    <div class="featured-review__content" bis_skin_checked="1">
                                        <p>{{ course.short_description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
