{% extends 'shared/_Layout.html' %}
{% block title %}
    همه ی دوره ها
{% endblock %}

{% block content %}
    <div class="lp-archive-courses" bis_skin_checked="1">
        <ul class="learn-press-breadcrumb">
            <li><a href="{% url 'home-page' %}" bis_skin_checked="1"><span>خانه</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-left" aria-hidden="true"></i></li>
            <li><span>همه دوره ها</span></li>
        </ul>
        <div class="lp-content-area" bis_skin_checked="1">
            <header class="learn-press-courses-header">
                <h1>همه دوره ها</h1>
            </header>

            <ul class="learn-press-courses" data-layout="list">
                {% for course in courses %}
                    {% include 'course/components/course_item_component.html' with course=course %}
                {% endfor %}


            </ul>
{#            <nav class="learn-press-pagination navigation pagination">#}
{#                <ul class="page-numbers">#}
{#                    <li><span aria-current="page" class="page-numbers current">1</span></li>#}
{#                    <li><a class="page-numbers" href="#" bis_skin_checked="1">2</a></li>#}
{#                    <li><a class="next page-numbers" href="#" bis_skin_checked="1"><i class="arrow_left"></i></a></li>#}
{#                </ul>#}
{#            </nav>#}
        </div>
    </div>
{% endblock %}