{% extends 'shared/_Layout.html' %}

{% block title %}
    ثبت نام
{% endblock %}
{% block content %}
    <!-- become a teacher part here -->
    <div id="primary" class="content-area section_padding">
        <main id="main" class="site-main">
            <div class="container">

                <article id="post-47" class="post-47 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="learnpress">
                            <div id="learn-press-profile" class="lp-user-profile guest">
                                <div class="main-content-area row">
                                    <div class="learn-press-form-register learn-press-form">
                                        <h3>ثبت نام</h3>
                                        <form name="learn-press-register" method="post" action="{% url 'register-page' %}">
                                            {% csrf_token %}
                                            <ul class="form-fields">
                                                <li class="form-field">
                                                    {{ register_form.phone.label_tag }}
                                                    {{ register_form.phone }}
                                                    <div class="text-danger"> {{ register_form.phone.errors }}</div>
                                                </li>
                                                <li class="form-field">
                                                    {{ register_form.username.label_tag }}
                                                    {{ register_form.username }}
                                                    <div class="text-danger"> {{ register_form.username.errors }}</div>
                                                </li>
                                                <li class="form-field">
                                                    {{ register_form.password.label_tag }}
                                                    {{ register_form.password }}
                                                    <div class="text-danger">{{ register_form.password.errors }}</div>
                                                </li>
                                                <li class="form-field">
                                                    {{ register_form.confirm_password.label_tag }}
                                                    {{ register_form.confirm_password }}
                                                    <div class="text-danger">{{ register_form.confirm_password.errors }}</div>
                                                </li>
                                            </ul>
                                            <p>
                                                <input type="hidden" id="learn-press-register-nonce"
                                                       name="learn-press-register-nonce" value="d9160cea03"><input
                                                    type="hidden" name="_wp_http_referer" value="/lp-profile/">
                                                <button type="submit">ثبت نام</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .entry-content -->
                </article>
            </div>
        </main>
        <!-- #main -->
    </div>
{% endblock %}