{% load thumbnail %}
<!-- footer part here -->
    <footer class="footer_section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-12 col-sm-12">
                    <div class="single_feature_footer index-about">
                         <a href="{% url 'home-page' %}">
                                {% thumbnail settings.logo_image "142x46" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                            </a>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
{#                        <div class="footer_contact_info">#}
{#                            <a href="tel:+464145684325"><i class="icon_phone"></i>6789 345 0912</a>#}
{#                            <a href="mailto:education@example.com"><i class="icon_mail_alt"></i>education@example.com</a>#}
{#                        </div>#}
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="copyright_part">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-8">
                                <p>© کپی رایت طراحی شده توسط <a href="#" class="text_underline">{{ settings.title }}.</a> تمام حقوق محفوظ است.</p>
                            </div>
                            <div class="col-lg-6 col-md-4">
                                <div class="social_icon">
{#                                    <a href="#"><i class="social_facebook"></i></a>#}
{#                                    <a href="#"><i class="social_twitter"></i></a>#}
                                    <a href="#"><i class="social_youtube"></i></a>
                                    <a href="#"><i class="social_instagram"></i></a>
{#                                    <a href="#"><i class="social_pinterest"></i></a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="/static/img/icon/shape_01.png" alt="#" class="footer_sharp_1">
        <img src="/static/img/icon/about_shape_02.png" alt="#" class="footer_sharp_2 custom-animation2">
        <img src="/static/img/icon/about_shape_03.png" alt="#" class="footer_sharp_3 custom-animation3">
    </footer>
    <!-- footer part end -->